
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div> 
        <form action="submit" method="post">
            Customer Code<input name="customercode" type="text" /><br/>
            Customer Name<input name="customername" type="text" /><br />
           <input id="Submit1" type="submit" value="submit" />
                         
        </form>

    </div>
</body>
</html>
